<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listado Ventas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body class="d-flex align-items-center justify-content-center" style="height:80vh"> <!-- style="background-color:powderblue;"-->
<div class="justify-content-center" style="height:80vh"> <!-- CENTRALIZAR-->

    <ul class="nav justify-content-end" >
        <li class="nav-item">
            <a class="nav-link active" href="/comprar">Comprar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active">Ventas Realizadas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/adminP">Administrar productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/carrito">Carrito</a>
            <span class="badge badge-primary" th:text="${cantidad}"></span>
        </li>
    </ul>
    <h1 style="text-align:center">Listado Ventas Realizadas</h1>


    <div th:each="v: ${listaV}"> <!-- class="d-flex align-items-center justify-content-center" style="height:80vh"-->
        <!--  <image src="https://cdn1.iconfinder.com/data/icons/grocery-store-filled/64/Grocery_Shop-36-512.png" Class="logo" alt="carrito"/> -->

            <div>
                <h6 th:text="${v.nombreCliente}"></h6>
                <h6  th:text="${v.FechaCompra}"></h6>
            </div>

      <!--  <form>-->
            <table class="table" th:each="carrito: ${v.listaCarrito}">
                <thead>
                <tr >
                    <th scope="col">Producto</th>
                    <th scope="col">Precio(RD$)</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total(RD$)</th>

                </tr>
                </thead>
                <tbody>    <!--VALORES TABLA LLENADO -->
                <tr th:each="p : ${carrito.listaProductos}" >
                    <td th:text="${p.nombre}">Producto</td>
                    <td th:text="${p.precio}">Precio</td>
                    <td th:text="${p.cant}">Cantidad</td>
                    <td th:text="${(p.cant) * p.precio}">Total</td>
                </tr>
                <tr>
                <tfoot>
                <td> </td>
                <td> </td>
                <td scope="row">Total: </td>
                <td th:text="${v.total}">Total</td>
                </tfoot>
                </tr>

                </tbody>
            </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>

